*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Cabeçalho */

.nav{
  background-color: rgb(15, 15, 15);
  height: 70px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 100;
}
.nav-lista{
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  justify-content: center;
  padding: 0 10px;
   margin-left: 60px
}

.nav-lista a{
text-decoration: none;
color: aliceblue;
padding: 20px;
font-size: 20px;
}
.nav-lista a:hover{
  color: darkgoldenrod;
}

.nav-lista img{
  height: 60px;
  margin-top: 5px;
}

.botao-login{
   text-decoration: none;
  color: white;
  font-size: 20px;
display: flex;
  background-color: darkgoldenrod;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 8px;
   align-items: center;
  white-space: nowrap;
   height: fit-content;
   cursor: pointer;

}
.botao-login a {
font-size: 20px;
color: aliceblue;
text-decoration: none;
}

/* Cabeçalho */

/* INICIO MAIN */

.main{
width: 100%;
height: 600px;
background-image:
   linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
url("../img/tumar_crec_4k.png");
display: flex;
align-items: center;
background-position: center;
background-size: cover;
justify-content: center;
}
.main h1{
  color: #fff;
  font-size: 80px;
  padding: 0px 50px;
  text-shadow:  2px 2px 5px rgba(0,0,0,0.7);;
}

.historia{
  cursor: pointer;
  color: #fff;
  background-color: darkgoldenrod;
  border: 0;
  font-size: 18px;
  padding: 14px;
  border-radius: 4px;
  text-decoration: none;
   font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  transition: 0.6s;
}

.main a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

.historia:hover{
transform:scale(1.1);
}

/* FIM MAIN */

/* INICIO SOBRE */

.secao-sobre{
background-color: rgb(15, 15, 15);
display: flex;
color: #fff;
justify-content: center;
padding: 7%;
height: 700px;

}

.texto-sobre h1{
  margin-bottom: 20px;
  font-size: 50px;
  letter-spacing: 2px;
  border-bottom: 3px solid darkgoldenrod;
  display: table; 
  text-align: center;
   margin-left: auto;
  margin-right: auto;

}

.texto-sobre p{
   font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-size: 22px;
  font-weight: 300;
}

.secao-sobre img{
  border-radius: 10px;
  height: 500px;
  padding-left: 20px;
   transition: 0.6s;
}

.secao-sobre img:hover{
  transform: scale(1.02)
}

/* FINAL SOBRE */

/* INICIO: SOBRE ARCD */
.sobre-arcd{
background-color: #2c2c2c;
height: 600px;
display: flex;
justify-content: center;
padding: 5%;
}



.texto-sobre-arcd h1{
  color: rgb(192, 147, 31);
  font-size: 40px;
  margin-bottom: 10px;
}
.texto-sobre-arcd p {
  color: #fff;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-size: 20px;
}

.destaque {
  color:rgb(192, 147, 31);
  font-family: "Lexend", sans-serif;
  font-weight: bold
}

.sobre-arcd img{
height: 400px;
border-radius: 5px;
}
/* FINAL: SOBRE ARCD */

.atividades{
  width: 100%;
  height: 600px;
display: flex;
 align-items: center;
  justify-content: center;
   padding-top: 10px;
   background-color: rgb(15, 15, 15);
}
.texto-atividades{
  color: #fff;
  letter-spacing: 2px;
}

.texto-atividades h1{
   text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.cards{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.card{
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
  transition: 0.5s;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover{
  transform: scale(1.05);
}

.formulario-interesse{
  background-color: rgb(15, 15, 15);
  padding: 7  0px 20px;
  display: flex;
  justify-content: center;
  height: 800px;
}

.titulo{
  width: 100%;
  max-width: 700px;
  color: #d4b04c;
}

.titulo h1{
  text-align: center;
  font-size: 60px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: white;
}

.titulo p{
  text-align: center;
  color: #aaa;
  margin-bottom: 50px;
  font-family: "Lexend", sans-serif;
}

.titulo input,
.titulo select,
.titulo textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #444;
  background-color: #fff;
  color: black;
  font-size: 16px;
  outline: none;
}

.titulo textarea{
  height: 120px;
  resize: none;
}

/* BOTÃO */

.titulo button{
  width: 100%;
  margin-top: 30px;
  padding: 14px;
  border: none;
  background-color: #d4b04c;
  color: black;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.titulo button:hover{
  background-color: rgb(192, 147, 31);
}

link-email{
color: #d4b04c;
}

footer {
  background-color:black;
  border-top: 1px solid;
  padding: 2rem;
  text-align: center;
border-top: 1px solid #c9a84c;
}

footer p {
 color:white;
  font-family: "Lexend", sans-serif;
  font-weight: normal;
}

